.projectimage {
  width: 60%;
  display: block;
  margin: auto;
}

@media screen and (min-width: 730px) {
  .projectimage {
    width: 95%;
    opacity: 0.8;
  }
  .projectimage:hover {
    opacity: 1;
  }
}
