/** {
  outline: 2px dotted blue;
}*/
body {
  background-image: url("../images/upfeathers.png");
  font-family: 'Lato', sans-serif;
}
main {
  background-color: #FFF;
  width: 80%;
  margin: auto;
  padding: 0.75em;
  min-height: 300px;
}
nav {
  background-color: #3DD0AC;
  height: 163px;
  position: relative;
}
nav h1 {
  font-size: 1.5em;
  letter-spacing: 0.3em;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 1.2em;
}
nav ul {
  display: block;
  position: absolute;
  width: 100%;
  top: 65px;
  text-align: center;
}
nav ul li {
  padding: 0.3em;
}
h2 {
  font-size: 1.5em;
}

#about h2 {
  margin-top: 0.75em;
}
#about p {
  line-height: 1.5em;
  margin: 1em 1.3em 1em 1.3em;
}

#about {
  text-align: center;
  /*max-width: 100%;*/
}
/*set image to percentage*/
#about img {
  width: 35%;
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 1em;
}
/*++++++ general p styling +++++++++*/
/*p {
  line-height: 1.5em;
  margin-top: 1em;
  margin-left: 1.3em;
  margin-right: 1.3em;
}*/
.projectimage {
  width: 60%;
  display: block;
  margin: auto;
}
#articles article {
  padding: 1em;
}

#articles h2 {
  text-align: center;
  padding: 0.5em;
  font-size: 1.2em;
}

#articles h3 {
  text-align: center;
  font-style: italic;
  font-size: 1em;
}

#articles p {
  line-height: 1.4em;
  margin-left: 1.3em;
  margin-right: 1.3em;
}

footer {
  background-color: #3DD0AC;
  height: 4.5em;
  width: 100%;
  position: absolute;
  text-align: center;
}
footer p {
  margin-top: 1em;
  margin-left: 1.3em;
  margin-right: 1.3em;
}

@media screen and (min-width: 730px) {

  nav {
    height: 100px;
  }
  nav h1 {
    font-size: 1.5em;
    letter-spacing: 0.3em;
    position: absolute;
    text-align: left;
    top: 1.2em;
    left: 1em;
    width: auto;
  }
  nav ul {
    position: absolute;
    text-align: right;
    right: 2em;
  }
  nav ul li {
    display: inline;
  }
}
