.main-nav {
  outline: 2px dotted blue;
}

.main-nav ul {
  /* NOTE: We are by defualt hiding the main nav list because we are
      expecting the UI to be mobile, therefore our new icon menu
      takes its place. */
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
  float: right;
}

.main-nav li {
  font-size: 1.5em;
}

.site-header {
  background-color: rgba(61, 208, 172, 1);
  outline: 2px dotted orange;
  height: 7em;
  position: relative;
}

.fa-bars {
  position: fixed;
  float: right;
  font: 50px;
  text-align: right;
  top: 0;
  right: 0;
}

@media screen and (min-width: 760px) {
  #hamburger {
    display: none;
  }
  .main-nav ul {
    display: block;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
  .main-nav li {
    display: inline;
    color: white;
    padding: 10px;
  }
}

.template {
  display: none;
}
